<%= form_for(@comic) do |f| %>
  <% if @comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
      <% @comic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows=>3, :class=>"span5" %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <input id="comic_image" name="comic[image]" type="file">
  </div>
  <div class="form-actions">
    <%= f.submit "Create", {:class=>"btn btn-primary"} %>
    <%= link_to 'Back', comics_path, :class=>"btn" %>
  </div>
<% end %>
