<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
        <%= link_to feed_path, :rel => "tooltip", :title => "atom feed" do %>
          <i class="icon-rss"></i>
        <% end %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to "http://www.reddit.com/submit?url=#{comic_url(@comic)}", :rel => "tooltip", :title => "submit to reddit" do %>
          <i class="icon-reddit"></i>
        <% end %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to "http://www.facebook.com/sharer.php?u=#{comic_url(@comic)}", :rel => "tooltip", :title => "share on facebook" do %>
          <i class="icon-facebook"></i>
        <% end %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to "http://twitter.com/share?text=An%20Awesome%20Link&url=#{comic_url(@comic)}", :rel => "tooltip", :title => "tweet" do %>
          <i class="icon-twitter"></i>
        <% end %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to "http://www.pinterest.com/pin/create/button/?url=#{comic_url(@comic)}", :rel => "tooltip", :title => "pin it" do %>
          <i class="icon-pinterest"></i>
        <% end %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to "https://plus.google.com/share?url=#{comic_url(@comic)}", :rel => "tooltip", :title => "share on google+" do %>
          <i class="icon-google-plus"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>