<div class="page-header">
  <h1><%= @comic.title %></h1>
  <%= @comic.created_at.in_time_zone("EST").strftime("%B %d %Y - %H:%M") %>
</div>

<%= render 'nav' %>

<div class="comic">
	<%= image_tag @comic.image.url() %>
</div>
<div class="description">
  <%= @comic.description %>
</div>

<%= render 'nav' %>

