<h1>Listing comics</h1>

<div id="tag_cloud">
  <% tag_cloud Comic.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, admin_tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<div class="span6">
<table class="table table-striped">
  <tr>
    <th><%= sortable("title") %></th>
    <th><%= sortable("description") %></th>
    <th><%= sortable("created_at","Published") %></th>
    <th></th>
  </tr>

<% @comics.each do |comic| %>
  <tr>
    <td><%= comic.title.first(20) %></td>
    <td><%= comic.description.first(20) %></td>
    <td><%= comic.created_at.in_time_zone("EST").strftime("%b-%d-%y") %></td>
    <td><%= link_to 'View', admin_comic_path(comic), :class=>"btn btn-info" %>
    <%= link_to 'Edit', edit_admin_comic_path(comic), :class=>"btn btn-warning" %>
    <%= link_to 'Destroy', admin_comic_path(comic), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
  </tr>
<% end %>
</table>
<div>
  <%= will_paginate @comics %>
</div>
</div>
<br />

<%= link_to 'New Comic', new_admin_comic_path, :class=>"btn btn-primary" %>
