<h1>Listing comics</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @comics.each do |comic| %>
  <tr>
    <td><%= comic.title %></td>
    <td><%= comic.description %></td>
    <td><%= link_to 'Show', admin_comic_path(comic), :class=>"btn btn-info" %>
    <%= link_to 'Edit', edit_admin_comic_path(comic), :class=>"btn btn-warning" %>
    <%= link_to 'Destroy', admin_comic_path(comic), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comic', new_admin_comic_path, :class=>"btn btn-primary" %>
